body {
  font-family: "Poppins", sans-serif;
  background: url(../img/gps_bg-img.jpg) no-repeat center center fixed;
  background-size: cover;
  /* background-color: #f4f4f4; */
  text-align: center;
  margin: 0;
  padding: 20px;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark transparent overlay */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  z-index: -1;
}

.container {
  /* background: white; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.45); */
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.back-button {
  display: inline-block;
  text-decoration: none;
  background-color: #1abc9c;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.back-button:hover {
  background: #16a085;
}
/* .route-container {
  position: relative;
  margin-top: 20px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
} */
.route-container {
  position: relative;
  margin-top: 20px;
  max-height: 350px; /* Updated to 350px */
  overflow-x: hidden;
  overflow-y: auto; /* Better than 'scroll' as it hides the scrollbar when not needed */
  scroll-behavior: smooth; /* Smooth scrolling effect */
  backdrop-filter: blur(8px);
  scrollbar-width: thin;
  scrollbar-color: #1abc9c transparent;
  padding-top: 10px;
  margin-left: 34%;
}

.route-header {
  margin: 0;
  color: #1abc9c;
  padding-bottom: 10px;
}
.vertical-line {
  position: absolute;
  left: 30px;
  top: 0;
  height: 450px;
  width: 6px;
  background: #007bff;
  border-radius: 3px;
  overflow-y: hidden;
}

.station {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px;
}

.dot {
  width: 18px;
  height: 18px;
  background: #007bff;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  box-shadow: 0px 0px 8px 2px #007bff;
  transition: transform 0.3s ease-in-out;
}

.current-stop .dot {
  background: white;
  border: 4px solid #007bff;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }

  50% {
    opacity: 0.6;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.4);
  }
}

.details {
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
  text-align: left;
  max-width: 300px; /* Updated to 300px */
  margin-left: 10px; /* Updated to 50px */
}

.time {
  color: #5d28a7;
  font-weight: bold;
}
